html * {
  margin: auto;
  width: auto;
  font-family: sans-serif;
}


/* HEADER */

header {
  padding: .2em;
  background-color: #fff;
  border-bottom: 1px solid lightblue;
}

header .logo {
  margin: 0 auto;
  width: 348px;
}

.nav {
  float: left;
  margin: 40px;
}

.auth {
  float: right;
  margin: 40px;
}

.nav a, .auth a {
  /*margin: 1em 2em;
  font-size: 1.5em;*/
  text-decoration: none;
  color: #000;
}

.nav a:hover, .auth a:hover {
  color: #999;
}


/* HOME */

.jumbo {
  width: 100%;
  /* FIX ME */
  height: 1000px;
  position: absolute;
  background-image: url('../images/mainpicTrim2.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

.jumbo h1 {
  text-shadow: 0px 1px 1px #999;
  width: 300px;
  margin: 160px auto;
}

/* MAIN */

.angular-google-map-container {
  height: 600px;
  width: 50%;
  float: left;
}

.peaks {
  height: 600px;
  overflow: auto;
}

.peak {
  margin: 20px 40px;
}

/*.searchSort {
  margin-left: 80px;
}


.peakInfo {
  vertical-align: top;
  margin-left: 20px;
  display: flex;
  justify-content: space-around;
}

.peakInfo p {
  margin: 20px;
}

.mtPic {
  vertical-align: top;
  display: inline-block;
  width: 25%;
}*/

/* FOOTER */

footer {
  height: 100px;
  padding: 20px;
  border-top: 1px solid lightgreen;
}
