html * {
  margin: auto;
  width: auto;
  font-family: sans-serif;
}


/* HEADER */

header {
  padding: .2em;
  border-bottom: 1px solid lightblue;
}

header .logo {
  margin: 0 auto;
  width: 348px;
}

.nav {
  float: left;
  margin: 40px;
}

.auth {
  float: right;
  margin: 40px;
}

.nav a, .auth a {
  text-decoration: none;
  color: #000;
}

.nav a:hover, .auth a:hover {
  color: #999;
}

.nav .peaksLink {
  display: none;
}

.nav .loading {
  height: 3em;
  width: 3em;
  margin-top: -10px;
}

/*.nav .peakSearch {
  display: inline-block;
  margin: 0;
}*/


/* HOME */

.jumbo {
  width: 100%;
  margin: 0 auto; /* FIX ME */
  background-image: url('../images/mainpicTrim2.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

.description {
  margin: 200px auto;
  max-width: 1028px;
  padding: 50px;
}

.description h1 {
  text-align: center;
  margin: 20px;
}

.description p {
  font-size: 1.5em;
}


/* MAIN */

.angular-google-map-container {
  height: 600px;
  width: 60%;
  float: left;
}

.peaks {
  padding: 30px;
  height: 425px;
  overflow: auto;
}

.peakSearch {
  padding: 30px;
  height: 175px;
  overflow: hidden;
}

.peakSearch form {
  margin-top: 10px;
}

.peak {
  margin: 20px 40px;
}


/* PEAK */

.peakMap {
  display: inline-block;
  height: 600px;
  width: 60%;
}

.peakStats {
  margin: 50px;
  display: inline-block;
  vertical-align: top;
}


/* FOOTER */

footer {
  /*height: 100px;*/
  padding: 3em;
  border-top: 1px solid lightgreen;
}


/* MEDIA QUERIES */

@media (max-width: 1440px) {
  .jumbo {
    height: 805px;
  }
}
@media (max-width: 1280px) {
  .jumbo {
    height: 720px;
  }
}
@media (max-width: 1024px) {
  .jumbo {
    height: 575px;
  }
}
