<div class="jumbo">
</div>

<div class="description">
  <h1>Tag it. Then bag it.</h1>
  <p>Whether you’re an avid climber or an outdoor newbie, Peak Tagger can help you out. We’ll show you where all the closest peaks are (even the little ones). If there’s a route to the top, we’ll show you how to get there. Tag peaks to climb later and track the ones you’ve bagged, then compare or compete with friends. Plan ahead for a trip by looking up faraway places or open the app when you arrive someplace new.</p>
</div>
